body {
    background-color: #FEF9EF;
    font-family: 'Montserrat', sans-serif;
  }
h1 {
    color: #84A59D;
    font-family: 'Montserrat', sans-serif;
  }
h2 {
    color: #FF66B3;
    font-family: 'Sacramento', cursive;
}
hr {
    color: #6D6875;
}
p {
    color: #F6BD60;
    font-family: 'Montserrat', sans-serif;
  }


  
