/* Caitlin Harris 
Personal Portfolio Website CSS Style Page
Last Edited: 9/28/2020 */

/* HEADER */
header {
  /*background-image: url("../imgs/wp5.jpg");*/
}

/* NAVIGATION MENU */
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 100px;
  margin: 0; 
  background: #c97c5d;
}
nav a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: white;
}
nav a:hover {
  background: #ffd6ba;
}

/* BODY */
body {
  background-color:#f8f9fa;
  font-family: 'Montserrat', sans-serif;
}
 main{
  display: flex;
  flex-direction: row;
  justify-content: center;
 }
 figure img{
   border: 7px solid #606c38;
 }
 h1 {
  color: #463F3A;
  font-family: 'Homemade Apple', cursive;
  font-size: 35pt;
}
h2{
  color: #84A59D;
  font-family: 'Montserrat', sans-serif;
  font-size: 20pt;
}
h3 {
  color: #FF66B3;
  font-family: 'Homemade Apple', cursive;
  font-size: 30pt;
}
p {
  color:  #52796f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 550;
}
cite {
  color: #463F3A;
  font-family: 'Homemade Apple', cursive;
  font-size: 20pt;
}
/*
@media all and (max-width: 800px) {
  nav {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  nav{
    flex-flow: column wrap;
    padding: 0;
  }
  nav a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  nav li:last-of-type a {
    border-bottom: none;
  }
}
*/
